span{
    font-family: Dancing Script;
    font-size: 30px;
}
.d-flex{
  font-family: poppins;
}

/*landing page*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .title-heading{
    font-size: 55px;
    font-family: Poppins  ;
    color: #fff;
    padding-top: 20px;
    font-weight: bolder;
  }
  .title-paragraph{
    color: #fff;
    font-size: 30px;
    
  
  }
  .landing-section {
    background-color: #fff;
    height: 600px; /* Height of the grey part */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Add position relative */
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0,123,255,1))}
  
  .heading {
    padding-top: 0px;
    text-align: center;
    color: black; /* Changed color to black */
  }

  /*landing page video*/
  .video-section {
    height: auto;
    position: relative;
    
  }
  
  .video-container {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 200px);
  }
  
  .video-container iframe {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 0;
    border-style: line;
    border-color: #fff;
    padding-left: 4em;
  }
  
    @media screen and (min-width: 320px) and (max-width: 550px){
        .video-container {
          padding-bottom: 60px; /* Adjust the aspect ratio for smaller screens */
        }
        .title-paragraph{
          padding-top: 0px;
          margin-bottom: 20px;
          
        
        }
        nav{
          width:430px;
          padding: 0 10px;
        }
        *{
          padding:5px;
        }
        .title-paragraph{
          color: #fff;
          font-size: 25px;
          padding:15px;
          
        
        }
        .btn-primary{
          margin-right: 10px;
        }
        .landing-section{
          height: 450px;
          width:450px
        }
        .title-heading{
          font-size: 40px;
          font-family: Poppins  ;
          color: #fff;
          padding-right: 50px;
          font-weight: bolder;
        }
        .title-paragraph{
          padding-right: 60px;
        }
      }
/* How it works section styles */
.how-it-works {
    background-color: #fff; /* Grey background */
    color: #333;
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
    font-family: Bebas Neue;

  
  }
 
  h2{
    font-size: 100px;
    padding-top: 1em;
    
  }
  
  
  .step-number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0D6EFD;
    padding-top: 20px;
  }
  
  .arrow {
    font-size: 54px;
    color: #ff6600;
  }
  
  .step-description {
    text-align: center;
    font-size: 25px;
    font-family: Montserrat ;
  }


  /*pricing table*/

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pricing-table-heading {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    color: #000;
    text-align: center;
}
.container{
    padding-top: 30px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* Pricing Table Styles */
.card.box-shadow {
    box-shadow: 0px 0px 18px #ccc;
    text-align: center;
    padding: 30px 0px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
}

.card.box-shadow .card-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
    transition: all 0.5s ease;
}

.card.box-shadow:hover .card-header {
    border-bottom: 1px solid #418cfb;
}

.card.box-shadow .card-header .font-weight-normal {
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: 700;
}

.card.box-shadow .card-body .pricing-card-title {
    background: linear-gradient(to right, #0D6EFD 0%, #0D6EFD 100%);
    width: 90px;
    height: 90px;
    margin: auto;
    line-height: 90px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: -50px;
    transition: all 0.5s ease;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    
}

.card.box-shadow:hover .card-body .pricing-card-title {
    transform: scale(1.2);
}

.card.box-shadow .card-body ul li {
    margin: 15px 15px;
    font-size: 14px;
    color: #555;
    text-align: left;
    list-style: inside;
}

.card.box-shadow .btn-block {
    background: linear-gradient(to right, #0D6EFD 0%, #0D6EFD 100%);
    border-radius: 40px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 14px 40px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3 linear;
    transition: all 0.3 linear;
    border: none;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 2px;
    z-index: 9999;
    border-radius: 50px;
}

.card.box-shadow .btn-block:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.card-body{
    padding-top: 60px;
}
/*calendly*/

.calendly-heading{
  font-size: 75px;
  font-family: Bebas Neue;
  text-align: center;
}
p{
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding-top: 10px;

}

@media screen and (min-width: 320px) and (max-width :550px)  {
    .wrapper {
      margin: 20px; /* Adjust margin for better spacing */
    }
    .landing {
      margin-bottom: 30px;
    }
    .tes-upper-div {
      margin-top: 20px; /* Adjust margin-top to prevent overlap with calendly */
    }
  
    .calendly {
      margin-top: 20px; /* Adjust margin-top to prevent overlap with testimonials */
    }
  
    .video-section {
      margin-top: 150px; /* Adjust margin-top for smaller screens */
    }
  
    .video-container {
      width: 600px; /* Adjust width for smaller screens */
      max-width: none; /* Remove max-width for smaller screens */
      height: 400px;
      padding-bottom: 200px;
     }
  
    .video-container iframe {
      width: 70%; /* Full width for smaller screens */
      height: 450px; /* Adjust height for smaller screens */
      padding-left: 425px;
      padding-top: 50px;
     
  
    }
    .tes-upper-div{
      height:max-content;
      margin: 0;
      width: 300px;
    }
  }

    /*testimonials*/
.tes-heading{
  color: #0e0e0e;
  text-align: center;
  font-weight: bold;
  font-family: Bebas Neue;
  font-size: 70px;

}

.tes-p{
  
  text-align:center;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}

/*footer*/


.footer {
  position: relative;
  width: 100%;
  background: #3988ff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 15rem;
}
 

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


@media screen and (max-width:800px){
 .wrapper{
      grid-template-columns: repeat(2,1fr);
  } 
}

@media screen and (min-width:320px) and (max-width:550){
 .wrapper{
      grid-template-columns: 2fr;
      
  } 

  .footer{
    height: 300px;
  }
}
