/*video gallery*/

body, html {
    height: 100%;
    margin: 0;
    font-family: poppins;
  }
  span{
    font-family: Dancing Script;
    font-size: 30px;
}
.landing-section {
    color: #fff;
    height: 600px; /* Height of the grey part */
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative; /* Add position relative */
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0,123,255,1))}
  
    h1{
    font-weight: bolder;
font-size: 60px;
padding-top: 20px;
  }
  
  .video-containerone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
  }
  .video-containertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
  }
  @media screen and (min-width:350px) and (max-width:550px){
   
    .landing-section{
      width: 400px;
      padding: 15px;
      height: 1100px;
    }
    nav{
      width: 400px;
    }
    .video-containerone{
      height: 750px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
    .video-container{
      height: 750px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
    .video-containertwo{
      height: 750px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
  }
  .comparison{
    height: 400px;
  }
 .mb-3{
  margin: 100px 0px;
 }
  .bd-highlight img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 10px;
    
}
.bd-highlight {
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
p{
  padding: 10px;
}
.content{
  gap: 150px;
  height: 250px;
  width: 400px;
}

/*footer*/


.footer {
  position: relative;
  width: 100%;
  background: #3988ff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 15rem;
}
 

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


@media screen and (max-width:800px){
 .wrapper{
      grid-template-columns: repeat(2,1fr);
  } 
}

@media screen and (min-width:320px) and (max-width:550){
 .wrapper{
      grid-template-columns: 2fr;
      
  } 

  .footer{
    height: 300px;
  }
}


